<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ticket booking app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"/>
  </head>
  <body>
    <div style="margin:20px;text-align:center">
        <h1>VIZAG MULTIPLUX</h1>
    </div>

    <img style="margin-left:350px;width:700px;height:250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTamMaKRa_5xvmSrwtaTF-7YWpiv_u_0d0cAA&usqp=CAU">


    <div class="container" style="display:flex;align-items:center;justify-content:center;">
        <div>
            <label for="">Pick a Cinema:</label>
            <select name="form-control" id="movie">
            {{#each movies}}
                <option value={{rate}}>{{name}}/screen {{screenNo}} - {{rate}}</option>
             {{/each}} 
            </select>
        </div>


    <ul class="showcase" style="list-style-type:none;margin:50px;margin-top:100px;display:flex">
        <li style="text-align:center">              
            <div class="seat" style="margin:15px;"></div>
            <small>Available</small>
        </li>
         <li style="text-align:center">
            <div class="seat selected" style="margin:15px;"></div>
            <small>Selected</small>
        </li>
         <li style="text-align:center">
            <div class="seat occupied" style="margin:15px;"></div>
            <small>Occupied</small>
        </li>
    </ul>

    <div style="width:350px">
        <div class="screen"></div>
        <div class="row" id="screen1" style="visibility:hidden; display:none;" >
             {{#each screen1}} 
                <div class="seat {{status}}" id="{{seatno}}"></div>
                
             {{/each}} 
        </div>
          <div class="row" id="screen2" style="visibility:hidden; display:none;">
            {{#each screen2}}
                <div class="seat {{status}}" id="{{seatno}}"> </div>
            {{/each}}
        </div>
          <div class="row" id="screen3" style="visibility:hidden; display:none;">
            {{#each screen3}}
                <div class="seat {{status}} " id="{{seatno}}"> </div>
             {{/each}}
        </div>
    </div>
    </div>

    <div id="finalCost" style="display:none;visibility:hidden;text-align:center">
        <p id="cost"> </p>
    </div>

    

    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>